

/* SLIDENAV STYLES - fullPage.js 
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#fp-nav ul li a span, 
.fp-slidesNav ul li a span {
	background: white;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span, 
.fp-slidesNav ul li a.active span, 
#fp-nav ul li:hover a.active span, 
.fp-slidesNav ul li:hover a.active span {
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: transparent;
	box-sizing: border-box;
	border: 1px solid #24221F;
}

/* HELPER CLASSES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.l-left {
	float: left;
}

.l-right {
	float: right;
}

.end {
	margin-top: 30px;
	font-size: 3em;
	font-weight: bold;
	opacity: 0;
	-webkit-transform: translateY(300px);
	    -ms-transform: translateY(300px);
	        transform: translateY(300px);
	-webkit-transition: opacity, -webkit-transform 1s;
	        transition: opacity, transform 1s;
	-webkit-transition-delay: 1s;
	        transition-delay: 1s;
}

/* NAV STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.header-top {
	background: rgba(0, 47, 77, .3);
	height: 70px;
	padding: 0 10px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 12;
	box-sizing: border-box;
}

h1 {
	line-height: 70px;
	height: 70px;
}

h1 a {
	display: block;
	padding: 0 10px;
}

.toggle-menu {
	width: 50px;
	height: 50px;
	display: inline-block;
	position: relative;
	top: 10px;
}

.toggle-menu i {
	position: absolute;
	display: block;
	height: 2px;
	background: white;
	width: 30px;
	left: 10px;
	-webkit-transition: all .3s;
	        transition: all .3s;
}

.toggle-menu i:nth-child(1) {
	top: 16px;
}

.toggle-menu i:nth-child(2) {
	top: 24px;
}

.toggle-menu i:nth-child(3) {
	top: 32px;
}

.open-menu i:nth-child(1) {
	top: 25px;
	-webkit-transform: rotateZ(45deg);
	        transform: rotateZ(45deg);
}

.open-menu i:nth-child(2) {
	background: transparent;
}

.open-menu i:nth-child(3) {
	top: 25px;
	-webkit-transform: rotateZ(-45deg);
	        transform: rotateZ(-45deg);
}

nav {
 	height: 0;
	opacity: 0;
  box-sizing: border-box;
	background: rgba(0, 47, 77, .25);
	position: fixed;
	top: 70px;
	width: 100%;
  -webkit-transition: all 3s;
          transition: all 3s;
}

.open-menu ~ nav {
	opacity: 1;
 	padding: 80px 0;
	z-index: 15;
	height: calc(90vh - 70px);
}

nav ul {
	padding: 0 10px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

nav li {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	    -ms-flex: 1;
	        flex: 1;
}

nav li a {
	font-size: 2em;
	display: block;
	padding: 30px;
	text-align: center;
	-webkit-transition: background .3s;
	        transition: background .3s;
}

nav li:nth-child(odd) a,
body.fp-viewing-fifthSection-1 #menu li:nth-child(5) a {
	background: #962D3E;
}

nav li:nth-child(even) a {
	background: #aa3346;
}

nav li:nth-child(odd) a:hover {
	background: #9e2f41;
}

nav li:nth-child(even) a:hover {
	background: #c53c52;
}

nav li.active a,
body.fp-viewing-fifthSection-1 #menu li:last-child a {
  background: #453659;
}


/* MQ STYLES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 767px) {
	nav ul {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	nav li {
		margin-top: 1px;
	}
  
  nav li a {
    font-size: 1.5em;
  }
  
  .scroll-icon {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 50%;
  }
  
  .open-menu ~ nav {
		padding: 20px 0;
	}

	nav li a {
		padding: 3px;
	}
}

/* LANDING PAGE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.headshot {
	position: fixed;
    right:-300px;
    bottom:0;
    margin:0;
    max-width:100%;
    height:100%;
}

.name {
	font-family: futura;
	font-size: 100px;
	padding-left: 50px;
}

.job {
	font-family: futura;
	padding-left: 55px;

}

.intro {
	font-family: futura;
	padding-top: 5px;
	padding-left: 55px;
	line-height: 1.2;
}

.resume {
	padding-left: 150px;
	padding-top: 15px;
}


/* ABOUT ME PAGE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#background {
	background-image: url("laptop.png") !important;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.screen {
	position: absolute;
	margin: auto;
	width: 100%;
	padding-left: 160px;
	padding-right: 160px;
	top: 120px;
}

.about_me {
	color: rgb(221, 179, 172);
	line-height: 1.1;
	text-align: center;
    margin: auto;
    width: 100%;
    font-size: 25px;
}

.spin{
	text-align: center; 
}

.fa-circle {
	font-size: 15px !important;
	color: #2B8897 !important;
}

/* EDUCATION/CERTIFICATIONS PAGE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.heading {
	text-align: center;
	font-size: 2.5em;
}

.psu, .nycda {
	width: 175px;
	height: 175px;
	vertical-align: middle;
}

.ibm, .google {
	width: 125px;
	height: 125px;
	height: 100%;
	vertical-align: middle !important;
}

.psu, .nycda, .ibm, .google {
	margin-right: 20px;
	margin-bottom: 20px;
} 

.table-container {
	display: table;
}

.table-item {
	display: table-cell;
	vertical-align: middle;
	width: 40%;
}

.table-item.first {
	text-align: center;
}


/* PROGRAMMING LANGUAGES AND TOOLS PAGE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.code {
	text-align: center;
}

#icons {
	font-size: 90px;
	display: inline-block;
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

.html, .css, .sass, .js, .jquery, .ruby, .rails, .git, .github, .heroku, .bootstrap, .wordpress {
	padding-left: 15px;
	padding-right: 15px;
}

.html:hover, .css:hover, .sass:hover, .js:hover, .jquery:hover, .ruby:hover, .rails:hover, .git:hover, .github:hover, .heroku:hover, .bootstrap:hover, .wordpress:hover {
	color: grey;
}


/* PROJECTS PAGE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#wrapper {
	padding-left: 40px;
}

.snapshot {
	width: 100%;
	border:2px solid #0C2D6A;
	background-color: #f9f9f9;
}

.projects {
	font-size: 2.5em;
	color: #0C2D6A;
}

.title {
	color: white;
}

.title:hover {
	color: grey;
}

.description, .technologies {
	color: #0C2D6A;
}

.projects_link {
	text-decoration: none !important;
}

/* PERSONAL PAGE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.carousel-inner img {
	margin: 0 auto;
	background-position: center center;
	height: 400px;
	width: 300px;
}


/* CONTACT PAGE
–––––––––––––––––––––––––––––––––––––––––––––––––– */
#contact {
    font-family: 'futura', arial;
}

#contact .form-control {
    border:2px solid #1e1e1e;
}

#contact button {
    border:2px solid #1e1e1e;
}

#contact .row {
    margin-bottom:30px;
}

@media (max-width: 768px) { 
    #contact iframe {
        margin-bottom: 15px;
    }   
}

.social {
		list-style: none !important;
		margin: 0 auto;
		text-align: center;
	}

	li {
		display: inline-block;
		margin: 15px;
	}

	.fa {
		font-size: 40px;
		color: black; 
	}

	.fa:hover {
		color: grey; 
	}

	hr {
		margin-top: .5rem !important;
    	margin-bottom: .5rem !important;
    	background-color: black;
	}
}

.page {
	position: fixed;
	top: 50%;
	left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}



